@model Recauda.Models.MotivoDeCobro

@{
    ViewData["Title"] = "Crear Nuevo Motivo de Cobro";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
    <li class="breadcrumb-item"><a asp-action="Index">Motivo de Cobros</a></li>
    <li class="breadcrumb-item active">Crear</li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-user-plus me-1"></i>
                Información de Motivo de Cobro
            </div>
            <div class="card-body">
                <form asp-controller="Motivo de cobro" asp-action="Crear" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="mdc_nombre" class="form-label">
                                <i class="fas fa-tag"></i> Nombre del Motivo de Cobro
                            </label>

                            <input asp-for="mdc_nombre" class="form-control" placeholder="Ej: Cuotas sociales  ..." />
                            <span asp-validation-for="mdc_nombre" class="text-danger"></span>

                            <label asp-for="mdc_activo" class="form-label">
                                    <i class="fas fa-tag"></i> Activo
                            </label>
                            <select asp-for="mdc_activo" class="form-control">
                                    <option value="">Seleccione...</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                            </select>
                             <span asp-validation-for="mdc_activo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Crear Motivo de Cobro
                            </button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">
                                <i class="fas fa-arrow-left"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}