@model Recauda.Models.Compania

@{
    ViewData["Title"] = "Crear Nueva Compania";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
    <li class="breadcrumb-item"><a asp-action="Index">Companias</a></li>
    <li class="breadcrumb-item active">Crear</li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-user-plus me-1"></i>
                Información de Nueva Compañía
            </div>
            <div class="card-body">
                <form asp-controller="Compania" asp-action="Crear" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Id" class="form-label">
                                <i class="fas fa-tag"></i> Número de Compañía
                            </label>
                            <input asp-for="Id" class="form-control" placeholder="" />
                            <span asp-validation-for="Id" class="text-danger"></span>


                            <label asp-for="com_nombre" class="form-label">
                                <i class="fas fa-tag"></i> Nombre de Compañía
                            </label>
                            <input asp-for="com_nombre" class="form-control" placeholder="Ej: Boca sur, Lomas Coloradas..." />
                            <span asp-validation-for="com_nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Crear Compañía
                            </button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">
                                <i class="fas fa-arrow-left"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}